.contactIconBoxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    gap: 60px;
    h1 {
        color: rgb(65, 64, 64);
    }
    & .contactMainBoxes {
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 50px;
        & .contactBox {
            width: 300px;
            display: flex;
            gap: 30px;
            align-items: center;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                width: 3em;
                height: 3em;
            }
            div {
                display: flex;
                height: 60px;
                flex-direction: column;
                align-items: start;
                flex-wrap: wrap;
                align-content: space-between;
                gap: 10px;
                h3 {
                    color: #2d2e32;
                    font-weight: 700;
                }
                p, a {
                    color: #767676;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    &:hover {
                        color: #1b80d3;
                    }
                }
            }
        }
    }
}