nav {
    margin: 0 auto;
    height: auto;
    width: 100%;
    padding: 25px 40px 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    left: 0;
    z-index: 55;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    a {
        text-decoration: none;
        color: unset;
    }
    & .websiteName {
        width: 100px;
        font-weight: 700;
        text-align: left;
        font-size: 22px;
    }
    & .menuPart {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }
    & .navItem {
        position: relative;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: -0.13px;
        transition: all 0.3s ease;
    }  
    & .navItem:hover {
        color: rgb(168, 239, 255, 0.9);
    } 
    & .navItem::after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 50%;
        width: 0;
        height: 0.15rem;
        transform: translateX(-50%);
        background-color: rgb(168, 239, 255, 0.9);
        transition: all 0.5s ease;
    } 
    & .navItem:hover::after {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    nav {
        padding: 20px 30px 20px 40px;
    }

    nav .websiteName {
        font-size: 20px;
    }

    nav .menuPart {
        width: 220px;
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    nav {
        padding: 15px 20px 15px 30px;
    }

    nav .websiteName {
        font-size: 18px;
    }

    nav .menuPart {
        width: 200px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    nav {
        /* flex-direction: column;
        align-items: flex-start; */
        padding: 10px 15px;
    }

    nav .websiteName {
        font-size: 18px;
        margin-bottom: 10px;
    }

    nav .menuPart {
        /* width: 100%; */
        justify-content: flex-start;
        font-size: 14px;
    }

    nav .navItem {
        margin-right: 15px;
    }
}

@media (max-width: 576px) {
    nav {
        padding: 10px;
    }

    nav .websiteName {
        font-size: 16px;
    }

    nav .menuPart {
        font-size: 12px;
    }

    nav .navItem {
        margin-right: 10px;
    }
}